<%- include("layout/header") %>
<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-success">
          <h1 class="text-light">Edit Trainer (<%= user.name %>)</h1>
        </div>
        <div class="card-body p-4">
          <form action="/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">
            <div class="mb-4">
              <label for="name" class="mb-2">Name</label>
              <input type="text" name="name" placeholder="Enter Your Name" value="<%= user.name  %>" required class="form-control form-control-lg">
            </div>
            <div class="mb-4">
              <label for="phone" class="mb-2">Phone</label>
              <input type="tel" name="phone" placeholder="Enter Your Number" value="<%= user.Phone  %>"  class="form-control form-control-lg">
            </div>
            <div class="mb-4">
              <label for="price" class="mb-2">Price</label>
              <input type="number" name="price" required placeholder="Enter Your Price" value="<%= user.price  %>" class="form-control form-control-lg">
            </div>
            <div class="mb-4">
              <label for="sport" class="mb-2">Sport</label>
              <input type="text" name="sport" required placeholder="Enter Your Sport" class="form-control form-control-lg" value="<%= user.sport  %>">
            </div>
            <div class="mb-4">
              <label for="cv" class="mb-2">Cv</label>
              <input type="file" name="cv"  class="form-control form-control-lg"></input>
              <img src="/<%= user.cv[0].filename %>" width="100" class="img-thumnail mt-1">
            </div>
            <div class="mb-4">
              <label for="image" class="mb-2">Select Image</label>
              <input type="file" name="image"  class="form-control form-control-lg">
              <img src="/<%= user.image[0].filename %>" width="100" class="img-thumnail mt-1">
            </div>
            <input type="hidden" name="old_image" value="<%= user.image[0].filename %>">
            <input type="hidden" name="old_cv" value="<%= user.cv[0].filename %>">
            <div class="mb-3 d-grid">
              <input type="submit" name="submit" value="Update Trainer" class="btn btn-success btn-lg">
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>
<%- include("layout/footer") %>